<!doctype html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Yirzaraji Meteo App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div class="container colorApp" id="app">
        <div class="cities" v-if="showCities">
            City: <input type="text" v-model="search" />
            <ul>
                <li v-for="city in filteredCities">
                    {{ city.name }}
                </li>
            </ul>
        </div>
        <!-- <img src="images/paris.jpg" class="img-fluid" id="imageApp" alt="Responsive image">-->
        <div class="row">
            <div class="col-12 bg-primary text-center">
                14h12
            </div>
        </div>
        <div class="row">
            <div class="col-2 bg-info text-left align-middle">
                <button class="btn">
                    <span class="material-icons whiteIcon">
                        menu
                    </span>
                </button>
            </div>
            <div class="col-10 text-right bg-info">
                Paris - France
                <button class="btn" id="buttonCity" v-on:click="showCities = !showCities">
                    <span class="material-icons whiteIcon">
                        add_circle_outline
                    </span> 
                </button>
            </div>
        </div>
        <div class="row" id="infoDegree">
            <div class="col-6 text-center mt-5" id="degreediv">
                <span class="material-icons sunnyIcon whiteIcon">wb_sunny </span> 32°
            </div>
            <div class="col-6 text-center mt-5">
                Grand Soleil</br>
                MAR 05 mai 2020
            </div>
        </div>
        <div class="row rowJour mt-1">
            <div class="col-8 text-left">
                Mardi 06 mai
            </div>
            <div class="col-4 text-right">
                29° <span class="material-icons whiteIcon">cloud</span>
            </div>
        </div>
        <div class="row rowJour mt-1">
            <div class="col-8 text-left">
                Mercredi 07 mai
            </div>
            <div class="col-4 text-right">
                29° <span class="material-icons whiteIcon">grain</span>
            </div>
        </div>
        <div class="row rowJour mt-1">
            <div class="col-8 text-left">
                Jeudi 09 mai
            </div>
            <div class="col-4 text-right">
                29° <span class="material-icons whiteIcon">nights_stay</span>
            </div>
        </div>
    </div>

    <script src="js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>